/* ----------------
fonts  
------------------*/
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/*---------- ----------------
Common styles or utilitis 
---------------------------- */
body{
    font-family: 'Poppins', sans-serif;
    background: #d9eefa;
}
main{
    width: 1020px;
    max-width: 90%;
    margin: 0 auto;
    padding-right: 150px;   
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 1080px;
    background:  #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.333);
}
/*-------------------
 Top services style 
 ------------------ */
.top-instructors{
    /* padding: 30px; */
}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.instructors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.instructor{
    display: flex;
    align-items: center;
}
.instructor img {
    width: 56px;
    height: 56px;
}
.instructor-name{
    margin-left: 16px;
}
hr{
    margin-top: 30px;
}
/*-------------------
 service styles 
 --------------------*/
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.service img{
    width: 177px;
    height: 117px;
}
.service-text{
    margin-left: 16px;
}
span{
   color: #562EFF; 
}
/*--------------------
 courses style  
 ---------------------*/
.top-courses{
    justify-content: center;
    margin-top: 30px;
    width: 1080px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.333);
    height: 100%;
}
.course{
    height: 300px;
    width: 300px;
    margin-right: 150px;
    /* border: 1px solid aqua; */
    /* border-radius: 12px; */
}
.course img{
    width: 224px;
    height: 104px;
}
.course-container{ 
    display: flex;
}
.fa-star.filled{
    color: #FFC014;
}
/* ------------------
Media Queries
------------------ */
/* 
Mobile Device
 */
 @media only screen and (max-width:688px) {
    .instructors{
        /* background-color: #562EFF; */
        grid-template-columns: repeat(1, 1fr);
    }
    
 }