/* fonts  */
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* Common styles or utilitis  */
body{
    font-family: 'Poppins', sans-serif;
    background: #d9eefa;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    width: 1080px;
    background:  #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.333);
}
main{
    display: flex;
    justify-content: center;
}
/* Top services style  */
.top-instructors{
    /* padding: 30px; */
}
.section-title{
    color: #562EFF;
    font-size: 24px;
}
.instructors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.instructor{
    display: flex;
    align-items: center;
}
.instructor img {
    width: 56px;
    height: 56px;
}
.instructor-name{
    margin-left: 16px;
}

hr{
    margin-top: 30px;
}
/* service styles */
.services{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.service{
    display: flex;
    align-items: center;
    /* padding: 30px; */
    padding-bottom: 30px;
}
.service img{
    width: 177px;
    height: 117px;
}
.service-text{
    margin-left: 16px;
}
span{
   color: #562EFF; 
}